<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.fabric.sdk.android.unity">
  <application>
    <meta-data android:name="io.fabric.crashlytics.qualified" android:value="com.crashlytics.android.Crashlytics" />
    <meta-data android:name="io.fabric.crashlytics.unqualified" android:value="Crashlytics" />
    <meta-data android:name="io.fabric.kits" android:value="crashlytics" />
    <meta-data android:name="io.fabric.InitializationType" android:value="Automatic" />
    <meta-data android:name="io.fabric.ApiKey" android:value="8f23ed89f690c69fe5a17bc0be88ceffcc74c825" />
    <meta-data android:name="io.fabric.unity.crashlytics.version" android:value="1.2.4" />
  </application>
</manifest>